@{
    ViewBag.Title = "About";
}
<h2>Charu Bajaj</h2>
<br />
<div>
    <ul>
        <li>Web application developer with 7 years of IT industry experience, primarily in .NET technologies.</li>
        <li>Certified in Microsoft technoloigies and as a Scrum Master. </li>
        <li>Highly accountable person who loves taking up challenges which come with new roles and responsibilities</li>
        <li>Actively seeking new opportunities</li>
    </ul>
</div>
<address>
    <span>Please drop a line at <a href="mailto:charubajaj@gmail.com">charubajaj@gmail.com</a> for relevant job openings OR any suggestions for the website. Thanks!</span>
    <br /><br />
    <!--<div>Dear Employers and recruiters, thanks for stopping by! If you liked my profile and if you think i may be a good cadidate for the open position you have in mind, please drop a line. I would love to hear more about exciting job opportunities you have in Carmel/Indianapolis (IN).</div>-->

</address>
